*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

@font-face {
  font-family: 'Ninja-Naruto';
  src: url(./fonts/ninja-naruto/njnaruto.ttf) format('truetype');
}

.mainContainer {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* font-family: "Ninja Naruto Regular"; */
  /* margin-top: 50px; */
  /* align-items: center; */
}

h1 {
   font-family: Arial;
    color:  #FFF;
    font-size: 90px;
    padding: 20px 30px;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    text-transform: uppercase;
}

.header {
  background-color: rgb(3, 3, 65);
  position: sticky;
  height: 65px;
}

.header_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
}

.title {
  color: orange;
  margin: auto 0;
}

.dots {
  width: 10px;
  height: 10px;
  background-color: rgb(24, 23, 23);
  border: 2px solid rgb(240, 236, 233);
  border-radius: 5px;
  display: inline-block;
}

a {
  text-decoration: none;
}

.title-span {
  color: rgb(211, 14, 178);
  font-size: 30px;
}

.btn {
  width: 200px;
  cursor: pointer;
  margin: 16px auto;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: orange;
}


.dataContainer {
  background: url("./img/bg-2.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 1200px;
  margin: 0px auto;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);
}

.header-sub {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Ninja-Naruto', 'sans-serif';
}

.bio {
  text-align: center;
  color: gray;
  margin: 10px auto;
  max-width: 500px;
}

.details {
  text-align: center;
  color: gray;
  margin-top: 5px;
}

.hug-text {
  font-family: 'Ninja-Naruto', 'sans-serif';
}

.waveButton {
  cursor: pointer;
  margin: 16px auto;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: orange;
  width: 250px;
  
}

.text_h3 {
  text-align: center;
}

.connectButton {
  cursor: pointer;
  margin: 16px auto;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 250px;
  background-color: #3c1053ff;
  color: #fff;
}

.text_medium {
  font-size: 18px;
  color: #000;
}
.text_big {
  font-size: 26px;
  font-weight: 800;
  color: #ff6103;
}

.text_sml {
  color: #000;
}

span {
  letter-spacing: 1.3px;
  font-style: italic;
  font-size: 45px;
}

.span_hug_txt {
  color: darkmagenta;
  font-size: 12px;
}
.span_wav_txt {
  color: orangered;
  font-size: 12px;
}

#message {
  width: 500px;
  height: 50px;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  padding: 12px;
  box-sizing: border-box;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
textarea::placeholder {
    font-size: 15px;
    color: orangered;
}


.hugSection {
  border: 1px solid black;
  max-width: 600px;
  margin: 0 auto;
}

.wave_hug_container {
  display: flex;
  flex-wrap: wrap;
}

.start_page {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.select_wallet_modal_overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select_wallet_modal-container {
  background-color: white;
  border: 1.5px solid rgba(196, 196, 196, 0.51);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 25px 18px;
}

